<h2 class="date">
	<% today = Time.now %>
	<%= today.strftime("%A") %>
</h2>

<p class="theme">
<script type="text/javascript"> 

  //Get the current date 
  var today = new Date(); 
  var day = today.getDay(); 

 
  if (day == "0") { 
    
    document.write("Today we celebrate God the Creator. We pray for resurrection, daily provision, and the Kingdom of God."); 
  } 
  else if (day == "1") {
    document.write("Today we celebrate God the Faithful One. We pray for the Holy Spirit, our calling and employment, and our nation.");
  }
  else if (day == "2") {
    document.write("Today we celebrate God the Deliverer. We pray for temptation and evil, the oppressed, and the struggles and the struggling.");
  }
  else if (day == "3") {
    document.write("Today we celebrate God the Father. We pray for our marriages and families, our children, our single parents, and our neighborhoods.");
  }
  else if (day == "4") {
    document.write("Today we celebrate God the Savior. We pray for church leaders, churches, and the lost.");
  }
  else if (day == "5") {
    document.write("Today we celebrate God the Righteous One. We pray for the oppressed/poor/hurting, government leaders, those persecuted, and the sick.");
  }
  else if (day == "6") {
    document.write("Today we celebrate God the Provider. We pray for Sabbath rest, renewal, and thanksgiving.");
  }

</script>
</p>

  <ul>
   
    <li>
      <a href="#" class="head"><h3>Morning</h3></a>
      <hr>
      <div class="content" id="morning">
        <img src="/assets/img/divider-shadow.png" width="100%">

        <% CSV.foreach("lections.csv", {:headers => true, :header_converters => :symbol}) do |row| %>

        	<% if row[:date] == today.strftime("%Y-%m-%d") %>
        	

        <p>O Lord, let my soul rise up to meet you as the day rises to meet the sun.<br />
        Glory to the Father, and to the Son, and to the Holy Spirit,<br />
        as it was in the beginning, is now, and will be forever. Amen.<br /></p>

        <p>Come, let us bow down and bend the knee, let us kneel before the Lord our Maker</p>

        <p>Daily Psalm<br><%= row[:psalm]%></p>

        <p><em>Silence for meditation</em></p>

        <p>Not by bread alone, but by every word that proceeds from the mouth of God. Father, help me to hear your holy word...</p>

        <p>Scripture<br>
        	<%= row[:torah]%><br>
        	<%= row[:first_reading]%><br>
        	<%= row[:second_reading]%><br>
        	<%= row[:gospel]%>
        </p>



        <p><em>Prayers for Others & Our Father</em></p>

        <% end %>

        <% end %>
        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>
    
    <li>
      <a href="#" class="head"><h3>Midday</h3></a>
      <hr>
      <div class="content" id="midday">
        <img src="/assets/img/divider-shadow.png" width="100%">
        <p>Lord, make me an instrument of your peace.<br />
        Where there is hatred, let me sow love;<br />
        where there is injury, pardon;<br />
        where there is doubt, faith;<br />
        where there is despair, hope;<br />
        where there is darkness, light;<br />
        where there is sadness, joy.<br />
        O Divine Master, grant that I may not<br />
        so much seek to be consoled as to console,<br />
        to be understood as to understand,<br />
        to be loved as to love.<br />
        For it is in giving that we receive,<br />
        it is in pardoning that we are pardoned,<br />
        and it is in dying that we are born to eternal life.<br />
        Glory to the Father, and to the Son, and to the Holy Spirit,<br />
        as it was in the beginning, is now, and will be forever. Amen.<br /></p>

        <p><em>Prayers for Others &  Great Commandment</em></p>
        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>

    <li>
      <a href="#" class="head"><h3>Evening</h3></a>
      <hr>
      <div class="content" id="evening">
        <img src="/assets/img/divider-shadow.png" width="100%">
        <p>Lord Jesus, stay with us, for the evening is at hand and the day is past.</p> 

        <p>Be our constant companion on the way, kindle our hearts, and awaken hope among us, that we may recognize You as You are revealed in the scriptures and in the breaking of bread.</p>

        <p>I thank You, Heavenly Father, that you have graciously kept me this day; and I pray that You would forgive me all my sins where I have done wrong, and graciously keep me this night.</p>

        <p>For into Your hands I commend myself, my body and soul, and all things. Let Your Holy Spirit be with me, that the evil foe may have no power over me. Amen. </p>
        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>

</ul>

<a href="/yesterday" class="btn" style="float:left;">« Yesterday</a>
<a href="/tomorrow" class="btn" style="float:right;">Tomorrow »</a>