<h2 class="date"> 
  <% yesterday = (Time.now - 24*60*60) %>
  <%= yesterday.strftime("%A") %>
</h2>

<p class="theme">
<script type="text/javascript"> 

  //Get the current date 
  var today = new Date(); 
  var day = today.getDay() - 1; 

 
  if (day == "0") { 
    
    document.write("Today we celebrate God the Creator. We pray for resurrection, daily provision, and the Kingdom of God."); 
  } 
  else if (day == "1") {
    document.write("Today we celebrate God the Faithful One. We pray for the Holy Spirit, our calling and employment, and our nation.");
  }
  else if (day == "2") {
    document.write("Today we celebrate God the Deliverer. We pray for temptation and evil, the oppressed, and the struggles and the struggling.");
  }
  else if (day == "3") {
    document.write("Today we celebrate God the Father. We pray for our marriages and families, our children, our single parents, and our neighborhoods.");
  }
  else if (day == "4") {
    document.write("Today we celebrate God the Savior. We pray for church leaders, churches, and the lost.");
  }
  else if (day == "5") {
    document.write("Today we celebrate God the Righteous One. We pray for the oppressed/poor/hurting, government leaders, those persecuted, and the sick.");
  }
  else if (day == "6") {
    document.write("Today we celebrate God the Provider. We pray for Sabbath rest, renewal, and thanksgiving.");
  }

</script>
</p>

  <ul>
   
    <li>
      <a href="#" class="head"><h3>Morning</h3></a>
      <hr>
      <div class="content" id="morning">
        <img src="/assets/img/divider-shadow.png" width="100%">

        <% CSV.foreach("lections.csv", {:headers => true, :header_converters => :symbol}) do |row| %>

          <% if row[:date] == yesterday.strftime("%Y-%m-%d") %>

        <p>In the wilderness prepare the way of the Lord, make straight<br>
        in the desert a highway for our God. <em>Isaiah 40:3</em></p>

        <p>Glory to the Father, and to the Son, and to the Holy Spirit,<br>
        as it was in the beginning, is now, and will be forever. Amen.</p>

        <p>Our King and Savior now draws near: Come, let us adore him.</p>

        <p>Daily Psalm<br><%= row[:psalm]%></p>

        <p><em>Silence for meditation</em></p>

        <p>Not by bread alone, but by every word that proceeds from the mouth of God. Father, help me to hear your holy word...</p>

        <p>Scripture<br>
          <%= row[:torah]%><br>
          <%= row[:first_reading]%><br>
          <%= row[:second_reading]%><br>
          <%= row[:gospel]%>
        </p>

        <p><strong>The Song of Simeon</strong> <em>Luke 2:29-32</em><br>
        Lord, you now have set your servant free<br>
        &nbsp;&nbsp;to go in peace as you have promised;<br>
        For these eyes of mine have seen the Savior,<br>
        &nbsp;&nbsp;whom you have prepared for all the world to see:<br>
        A Light to enlighten the nations,<br>
        &nbsp;&nbsp;and the glory of your people Israel.</p>

        <p>Glory to the Father, and to the Son, and to the Holy Spirit:<br>
        &nbsp;&nbsp;as it was in the beginning, is now, and will be for ever. Amen.</p>

        <p><em>Prayers for Others & Our Father</em></p>

        <% end %>

        <% end %>
        
        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>
    
    <li>
      <a href="#" class="head"><h3>Midday</h3></a>
      <hr>
      <div class="content" id="midday">
        <img src="/assets/img/divider-shadow.png" width="100%">
        
        <p>Blessed are the poor in spirit, for theirs is the kingdom of heaven.<br>
        Blessed are those who mourn, for they shall be comforted.<br>
        Blessed are the meek, for they shall inherit the earth.<br>
        Blessed are those who hunger and thirst for righteousness, for they shall be satisfied.<br>
        Blessed are the merciful, for they shall receive mercy.<br>
        Blessed are the pure in heart, for they shall see God.<br>
        Blessed are the peacemakers, for they shall be called sons of God.<br>Blessed are those who are persecuted for righteousness' sake, for theirs is the kingdom of heaven.<br>
        Blessed are you when others revile you and persecute you and utter all kinds of evil against you falsely on my account. Rejoice and be glad, for your reward is great in heaven, for so they persecuted the prophets who were before you.</p>

        <p><em>Prayers for Others &  Great Commandment</em></p>
        
        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>

    <li>
      <a href="#" class="head"><h3>Evening</h3></a>
      <hr>
      <div class="content" id="evening">
        <img src="/assets/img/divider-shadow.png" width="100%">
        
        <p><strong>The Song of Mary</strong> <em>Luke 1:46-55</em></p>

        <p>My soul proclaims the greatness of the Lord,<br>
        my spirit rejoices in God my Savior;<br>
        &nbsp;&nbsp;for he has looked with favor on his lowly servant.</p>

        <p>From this day all generations will call me blessed:<br>
        &nbsp;&nbsp;the Almighty has done great things for me,<br>
        &nbsp;&nbsp;and holy is his Name.<br>
        He has mercy on those who fear him<br>
        &nbsp;&nbsp;in every generation.<br>
        He has shown the strength of his arm,<br>
        &nbsp;&nbsp;he has scattered the proud in their conceit.<br>
        He has cast down the mighty from their thrones,<br>
        &nbsp;&nbsp;and has lifted up the lowly.<br>
        He has filled the hungry with good things,<br>
        &nbsp;&nbsp;and the rich he has sent away empty.<br>
        He has come to the help of his servant Israel,<br>
        &nbsp;&nbsp;for he has remembered his promise of mercy,<br>
        The promise he made to our fathers,<br>
        &nbsp;&nbsp;to Abraham and his children for ever.</p>

        <p>Glory to the Father, and to the Son, and to the Holy Spirit:<br>
        &nbsp;&nbsp;as it was in the beginning, is now, and will be for ever. Amen.</p>

        <img src="/assets/img/divider-shadow-bottom.png" width="100%">
      <hr class="bottom">
      </div>
    </li>

</ul>

<a href="/" class="btn" style="float:right;">Today »</a>